# vim: syntax=muttrc

account-hook imaps://imap.gmail.com \
"set imap_user = 'ryanakca@gmail.com';\
set imap_pass = 'GMAIL_PASS';\
set imap_passive = 'no';\
set folder = 'imaps://imap.gmail.com:933';\
set spoolfile = '=INBOX'"

account-hook imap://localhost \
"set imap_user = 'ryan';\
set imap_pass = 'LOCAL_PASS';\
set imap_passive = 'no';\
set folder = 'imap://localhost';\
set spoolfile = '=INBOX'"

account-hook imaps://mail.queensu.ca \
"set imap_user = '9rak';\
set imap_pass = 'QUEENSU_PASS';\
set folder = 'imaps://9rak@mail.queensu.ca:993';\
set record = 'imaps://9rak@mail.queensu.ca/Sent';\
set postponed = 'imaps://9rak@mail.queensu.ca/Drafts';\
set spoolfile = 'imaps://9rak@mail.queensu.ca/Inbox';\
set imap_passive = 'no'"

send-hook . \
"set from = rak@debian.org;\
set sendmail='MSMTP_PATH';\
unset smtp_url;\
unset smtp_pass;\
unset record;\
set spoolfile = '=INBOX';\
set postponed = '=[Google Mail]/Drafts'"

folder-hook . \
"set from = rak@debian.org;\
set sendmail='MSMTP_PATH';\
unset smtp_url;\
unset smtp_pass;\
unset record;\
set spoolfile = '=INBOX';\
set postponed = '=[Google Mail]/Drafts';\
macro index,pager <ESC>a '<save-message>=[Google Mail]/All Mail<enter><enter>' 'Archive';\
macro index,pager S '<save-message>=[Google Mail].Spam<enter><enter>' 'Spam';\
macro index .s '<tag-prefix><copy-message>=Debian.archive<enter>' 'Saves Deb packaging email to Debian.archive';\
set pager_format = '-%Z-MAIN: %C/%m: %-20.20n %s';\
set compose_format = '-- MAIN: Compose [Approx. msg size: %l Atts: %a]%>-';\
set status_format = '-%r-MAIN: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'"

folder-hook .*[Qq]ueens[uU].* \
"unhook send-hook;\
set from = ryan.kavanagh@queensu.ca;\
unset sendmail;
set smtp_url="smtps://9rak@mail.queensu.ca:465/";\
set smtp_pass = 'QUEENSU_PASS';\
set record='=QueensU.Sent';\
set postponed='=QueensU.Drafts';\
set pager_format = '-%Z-QUEENS: %C/%m: %-20.20n %s';\
set compose_format = '-- QUEENS: Compose [Approx. msg size: %l Atts: %a]%>-';\
set status_format = '-%r-QUEENS: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'"

folder-hook .*McGill.* \
"unhook send-hook;\
set from = ryan.kavanagh@mail.mcgill.ca;\
set sendmail="MSMTP_PATH -a mcgill"
unset smtp_url;\
unset smtp_pass;\
set record='=McGill.Sent Items';\
set postponed='=McGill.Drafts';\
set pager_format = '-%Z-McGILL: %C/%m: %-20.20n %s';\
set compose_format = '-- McGILL: Compose [Approx. msg size: %l Atts: %a]%>-';\
set status_format = '-%r-McGILL: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'"

folder-hook .*McGSOCS.* \
"unhook send-hook;\
set from = ryank@cs.mcgill.ca;\
set sendmail="MSMTP_PATH -a mcgillsocs"
unset smtp_url;\
unset smtp_pass;\
set record='=McGill.Sent Items';\
set postponed='=McGill.Drafts';\
set pager_format = '-%Z-McGSOCS: %C/%m: %-20.20n %s';\
set compose_format = '-- McGSOCS: Compose [Approx. msg size: %l Atts: %a]%>-';\
set status_format = '-%r-McGSOCS: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'"

folder-hook /var/mail/ryan \
"set mbox_type = Maildir;\
set folder = /var/mail/ryan;\
set spoolfile = /var/mail/ryan;\
set postponed = $HOME/.maildb/GMAIL/Drafts;\
macro index,pager <ESC>a '<save-message>$HOME/.maildb/GMAIL/[Google Mail]/All Mail<enter><enter>' 'Archive';\
set pager_format = '-%Z-LOCAL: %C/%m: %-20.20n %s';\
set compose_format = '-- LOCAL: Compose [Approx. msg size: %l Atts: %a]%>-';\
set status_format = '-%r-LOCAL: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'"


macro index <F12> "cimaps://imap.gmail.com/INBOX<enter>"
macro index <F11> "cimap://localhost/INBOX<enter>"
macro index <F10> "cimaps://mail.queensu.ca/Inbox<enter>"

macro compose <F2> '<enter-command>set sendmail="MSMTP_PATH -a ubuntu"<enter><enter-command>unset smtp_url<enter><enter-command>unset smtp_pass<enter><edit-from><kill-line>Ryan Kavanagh <ryanakca@ubuntu.com><enter><edit-fcc><kill-line><enter><enter-command>set postponed="=[Google Mail]/Drafts"<enter>' "Sent mail from Ubuntu account"
macro compose <Esc><F2> '<enter-command>set sendmail="MSMTP_PATH -a kubuntu"<enter><enter-command>unset smtp_url<enter><enter-command>unset smtp_pass<enter><edit-from><kill-line>Ryan Kavanagh <ryanakca@kubuntu.org><enter><edit-fcc><kill-line><enter><enter-command>set postponed="=[Google Mail]/Drafts"<enter>' "Sent mail from Kubuntu account"
macro compose <F3> '<enter-command>set sendmail="/usr/bin/msmtp -a mcgill"<enter><enter-command>unset smtp_url<enter><enter-command>unset smtp_pass<enter><edit-from><kill-line>Ryan Kavanagh <ryan.kavanagh@mail.mcgill.ca><enter><edit-fcc>=McGill.Sent Items<enter><enter-command>set postponed="=McGill.Drafts"<enter><enter-command>set record="=McGill.Sent Items"<enter>' "Sent mail from McGill account"
macro compose <Esc><F3> '<enter-command>set sendmail="/usr/bin/msmtp -a mcgillsocs"<enter><enter-command>unset smtp_url<enter><enter-command>unset smtp_pass<enter><edit-from><kill-line>Ryan Kavanagh <ryank@cs.mcgill.ca><enter><edit-fcc>=McGSOCS.INBOX.Sent Items<enter><enter-command>set postponed="=McGSOCS.INBOX.Drafts"<enter><enter-command>set record="=McGSOCS.INBOX.Sent"<enter>' "Sent mail from McGill SOCS account"
macro compose <F4> '<enter-command>unset sendmail<enter><edit-from><kill-line>Ryan Kavanagh <ryan.kavanagh@queensu.ca><enter><edit-fcc>=QueensU.Sent<enter><enter-command>set postponed="=QueensU.Drafts"<enter><enter-command>set smtp_url="smtps://9rak@mail.queensu.ca:465/"<enter><enter-command>set smtp_pass="QUEENSU_PASS"<enter><enter-command>set record="=QueensU.Sent"<enter>' "Sent mail from Queen's account"
macro compose <Esc><F4> '<enter-command>set sendmail="MSMTP_PATH -a queensucs"<enter><enter-command>unset smtp_url<enter><enter-command>unset smtp_pass<enter><edit-from><kill-line>Ryan Kavanagh <ryan@cs.queensu.ca><enter><edit-fcc><kill-line><enter><enter-command>set postponed="=[Google Mail]/Drafts"<enter>' "Sent mail from cs.queensu.ca account"
macro compose <F5> '<enter-command>set sendmail="MSMTP_PATH"<enter><enter-command>unset smtp_url<enter><enter-command>unset smtp_pass<enter><edit-from><kill-line>Ryan Kavanagh <rak@debian.org><enter><edit-fcc><kill-line><enter><enter-command>set postponed="=[Google Mail]/Drafts"<enter>' "Sent mail from Debian account"

set certificate_file = '~/.mutt/certs/certificates'
