# vim: syntax=muttrc

account-hook imaps://ryanakca@gmail.com@imap.gmail.com \
"set imap_user = 'ryanakca@gmail.com';\
set imap_pass = 'GMAIL_PASS';\
set imap_passive = 'no';\
set folder = 'imaps://ryanakca@gmail.com@imap.gmail.com';\
set postponed = '=[Google Mail]/Drafts';\
set spoolfile = '=INBOX';\
set from = "rak@debian.org";\
set sendmail='MSMTP_PATH';\
unset smtp_url;\
unset smtp_pass;\
unset record;\
macro index,pager <ESC>a '<save-message>=[Google Mail]/All Mail<enter><enter>' 'Archive';\
macro index,pager S '<save-message>=[Google Mail].Spam<enter><enter>' 'Spam';\
macro index .s '<tag-prefix><copy-message>=Debian.archive<enter>' 'Saves Deb packaging email to Debian.archive';\
set pager_format = '-%Z-GMAIL: %C/%m: %-20.20n %s';\
set compose_format = '-- GMAIL: Compose [Approx. msg size: %l Atts: %a]%>-';\
set status_format = '-%r-GMAIL: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'"

account-hook imap://localhost \
"set imap_user = 'ryan';\
set imap_pass = 'LOCAL_PASS';\
set imap_passive = 'no';\
set folder = 'imap://localhost';\
set spoolfile = '=INBOX'"

account-hook imaps://outlook.office365.com \
"set imap_user = '9rak@queensu.ca';\
set imap_pass = 'QUEENSU_PASS';\
set folder = 'imaps://outlook.office365.com';\
set record = '=Sent Items';\
set postponed = '=Drafts';\
set spoolfile = '=Inbox';\
set imap_passive = 'no';\
unset smtp_url;\
unset smtp_pass;\
set sendmail = 'MSMTP_PATH -a queensu';\
set from = 'Ryan Kavanagh <ryan.kavanagh@queensu.ca>';\
set pager_format = '-%Z-QUEENSU: %C/%m: %-20.20n %s';\
set compose_format = '-- QUEENSU: Compose [Approx. msg size: %l Atts: %a]%>-';\
set status_format = '-%r-QUEENSU: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'"

account-hook imaps://hermes.ryanak.ca \
"set imap_user = 'rak';\
set imap_pass = 'RYANAKCA_PASS';\
set folder = 'imaps://hermes.ryanak.ca/';\
set record = '=Sent';\
set postponed = '=Drafts';\
set spoolfile = '=';\
unset smtp_url;\
unset smtp_pass;\
set sendmail = 'MSMTP_PATH -a ryanakca';\
set from = 'Ryan Kavanag <rak@ryanak.ca>';\
set pager_format = '-%Z-RYANAK.CA: %C/%m: %-20.20n %s';\
set compose_format = '-- RYANAK.CA: Compose [Approx. msg size: %l Atts: %a]%>-';\
set status_format = '-%r-RYANAK.CA: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'"

account-hook imaps://rkavanag@andrew.cmu.edu@imap.gmail.com \
"set imap_user = 'rkavanag@andrew.cmu.edu';\
set imap_pass = 'CMU_PASS';\
set imap_passive = 'no';\
set imap_keepalive = 60;\
set folder = 'imaps://rkavanag@andrew.cmu.edu@imap.gmail.com';\
set spoolfile = '=INBOX';\
set sendmail='MSMTP_PATH -a cmu';\
set from = 'Ryan Kavanagh <rkavanag@andrew.cmu.edu>';\
unset smtp_url;\
unset smtp_pass;\
unset record;\
set pager_format = '-%Z-CMU: %C/%m: %-20.20n %s';\
set compose_format = '-- CMU: Compose [Approx. msg size: %l Atts: %a]%>-';\
set status_format = '-%r-CMU: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'"

account-hook imaps://imap.srv.cs.cmu.edu \
"set imap_user = 'rkavanag';\
set imap_pass = 'CMUSCS_PASS';\
set folder = 'imaps://imap.srv.cs.cmu.edu/';\
set record = '=INBOX.Sent';\
set postponed = '=INBOX.Drafts';\
set spoolfile = '=INBOX';\
unset smtp_url;\
unset smtp_pass;\
set sendmail = 'MSMTP_PATH -a cmuscs';\
set from = 'Ryan Kavanagh <rkavanagh@cs.cmu.edu>';\
set pager_format = '-%Z-CMU SCS: %C/%m: %-20.20n %s';\
set compose_format = '-- CMU SCS: Compose [Approx. msg size: %l Atts: %a]%>-';\
set status_format = '-%r-CMU SCS: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'"

folder-hook /var/mail/ryan \
"set mbox_type = Maildir;\
set folder = /var/mail/ryan;\
set spoolfile = /var/mail/ryan;\
set postponed = $HOME/.maildb/GMAIL/Drafts;\
macro index,pager <ESC>a '<save-message>$HOME/.maildb/GMAIL/[Google Mail]/All Mail<enter><enter>' 'Archive';\
set pager_format = '-%Z-LOCAL: %C/%m: %-20.20n %s';\
set compose_format = '-- LOCAL: Compose [Approx. msg size: %l Atts: %a]%>-';\
set status_format = '-%r-LOCAL: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'"


macro index <F12> "cimaps://ryanakca@gmail.com@imap.gmail.com/INBOX<enter>"
macro index <F11> "cimap://localhost/INBOX<enter>"
macro index <F10> "cimaps://mail.queensu.ca/Inbox<enter>"

macro compose <F2> '<enter-command>set folder="imaps://ryanakca@gmail.com@imap.gmail.com"<enter>\
<edit-fcc><kill-line><enter>\
<enter-command>set sendmail="MSMTP_PATH -a ubuntu"<enter>\
<edit-from><kill-line>Ryan Kavanagh <ryanakca@ubuntu.com><enter>' \
"Send mail from Ubuntu account"

macro compose <Esc><F2> '<enter-command>set folder="imaps://ryanakca@gmail.com@imap.gmail.com"<enter>\
<edit-fcc><kill-line><enter>\
<enter-command>set sendmail="MSMTP_PATH -a kubuntu"<enter>\
<edit-from><kill-line>Ryan Kavanagh <ryanakca@kubuntu.org><enter>' \
"Send mail from Kubuntu account"

macro compose <F3> '<enter-command>set folder="imaps://rkavanag@andrew.cmu.edu@imap.gmail.com"<enter>\
<edit-fcc><kill-line><enter>\
<edit-from><kill-line>Ryan Kavanagh <rkavanag@andrew.cmu.edu><enter>' \
"Send mail from CMU account"

macro compose <Esc><F3> '<enter-command>set folder="imaps://imap.srv.cs.cmu.edu/"<enter>\
<edit-fcc><kill-line>=INBOX.Sent<enter>\
<edit-from><kill-line>Ryan Kavanagh <rkavanagh@cs.cmu.edu><enter>' \
"Send mail from CMU SCS account"

macro compose <F4> '<enter-command>set folder="imaps://outlook.office365.com"<enter>\
<edit-fcc><kill-line>=Sent Items<enter>\
<edit-from><kill-line>Ryan Kavanagh <ryan.kavanagh@queensu.ca><enter>' \
"Send mail from QueensU"

macro compose <Esc><F4> '<enter-command>set folder="imaps://ryanakca@gmail.com@imap.gmail.com"<enter>\
<edit-fcc><kill-line><enter>\
<enter-command>set sendmail="MSMTP_PATH -a queensucs"<enter>\
<edit-from><kill-line>Ryan Kavanagh <ryan@cs.queensu.ca><enter>' \
"Send mail from cs.queensu.ca"

macro compose <F5> '<enter-command>set folder="imaps://ryanakca@gmail.com@imap.gmail.com"<enter>\
<edit-fcc><kill-line><enter>\
<enter-command>set sendmail="MSMTP_PATH"<enter>\
<edit-from><kill-line>Ryan Kavanagh <rak@debian.org><enter>' \
"Send mail from Debian account"

macro compose <F6> '<enter-command>set folder="imaps://hermes.ryanak.ca/"<enter>\
<edit-fcc><kill-line>=Sent<enter>\
<enter-command>set sendmail="MSMTP_PATH -a ryanakca"<enter>\
<edit-from><kill-line>Ryan Kavanagh <rak@ryanak.ca><enter>' \
"Send mail from ryanak.ca"

set certificate_file = '~/.mutt/certs/certificates'
