# Score coloring
# We put this first since we want it overridden if required by the colors
# below.

color index             brightwhite     default "~n -100"
color index             yellow          default "~n -25"
color index             magenta         default "~n -10"
color index             brightblack     default "~n -5"

# Message colors
color attachment        brightblack     default
color error             brightred       default
color hdrdefault        brightyellow    default
color indicator         brightyellow    red
color markers           brightcyan      default
color message           brightcyan      default
color normal            default         default
color quoted            magenta         default
color search            default         green
color signature         red             default
color status            white           blue
color tilde             magenta         default
color tree              magenta         default

# Pretty Colors
color status white blue
color index green  default ~N  # new
color index cyan default ~O  # old
color index red default ~D  # deleted
color index brightmagenta default ~T  # tagged
color index brightyellow default ~F  # flagged
color header green default "^Subject:"
color header yellow default "^Date:"
color header yellow default "^To:"
color header yellow default "^Cc:"
color header yellow default "^Bcc:"
color header yellow default "^From:"
color header red default "^X-.*:"
color header brightwhite default '^X-Label:'

# color index magenta     default         "~b\This\\ bug\\ has\\ been\\ marked\\ a\\ duplicate\\ of\\ bug"

# Various smilies and the like
color body brightwhite default "<[Gg]>"                            # <g>
color body brightwhite default "<[Bb][Gg]>"                        # <bg>
color body brightwhite default " [;:]-*[})>{(<|]"                  # :-) etc...
# *bold*
color body brightblue  default "(^|[[:space:][:punct:]])\\*[^*]+\\*([[:space:][:punct:]]|$)"
mono  body bold                "(^|[[:space:][:punct:]])\\*[^*]+\\*([[:space:][:punct:]]|$)"
# _underline_
color body brightblue  default "(^|[[:space:][:punct:]])_[^_]+_([[:space:][:punct:]]|$)"
mono  body underline           "(^|[[:space:][:punct:]])_[^_]+_([[:space:][:punct:]]|$)"
# /italic/  (Sometimes gets directory names)
color body brightblue  default "(^|[[:space:][:punct:]])/[^/]+/([[:space:][:punct:]]|$)"
mono  body underline           "(^|[[:space:][:punct:]])/[^/]+/([[:space:][:punct:]]|$)"

# Border lines.
color body blue default "( *[-+=#*~_]){6,}"
