set crypt_use_gpgme = yes
set crypt_autosign = yes
set crypt_replyencrypt = yes
set crypt_replysign = yes
set crypt_replysignencrypted = yes
set crypt_verify_sig = yes

set pgp_sign_as=0x4E469519ED677734268FBD958F7BF8FC4A11C97A
set pgp_default_key=0x4E469519ED677734268FBD958F7BF8FC4A11C97A
set pgp_self_encrypt = yes
set pgp_use_gpg_agent = yes
