# Bagpipes
save-hook info@brownbagpipesupply\\.com =Bagpipes

# Newsletters
save-hook vfr-no-reply@aynrand\\.org =VfR

# SAIL
save-hook (ahmed|bram|mei)@cs\\.queensu\\.ca =Queens.SAIL

# Catch-all
save-hook .*@.*queensu\\.ca =Queens

save-hook =fnoreply@musicbrainz.org =MusicBrainz

# Debian
#save-hook =hX-Debian-PR-Source:\ prerex =Debian.prerex
