# vim: syntax=muttrc

set imap_authenticators = 'xoauth2'
set imap_login = 'ryan.kavanagh@mcgill.ca'
set imap_oauth_refresh_command = '~/bin/mutt_oauth2.py ~/.mutt/xoauth2-mcgill.ca-token'
set imap_passive = 'no'
set imap_user = 'ryan.kavanagh@mcgill.ca'

set smtp_url = 'smtp://ryan.kavanagh@mcgill.ca@smtp.office365.com:587/'
set smtp_authenticators = 'xoauth2'
set smtp_oauth_refresh_command = '~/bin/mutt_oauth2.py ~/.mutt/xoauth2-mcgill.ca-token'
unset smtp_pass
unset sendmail
set from = 'Ryan Kavanagh <ryan.kavanagh@mcgill.ca>'

set folder = 'imaps://ryan.kavanagh@mcgill.ca@outlook.office365.com'
set record = '=Sent Items'
set copy = 'no'
set postponed = '=Drafts'
set mbox = '=Archive'

set pager_format = '-%Z-MCGILL.CA: %C/%m: %-20.20n   %s%*  -- (%P)'
set compose_format = '-- MCGILL.CA: Compose [Approx. msg size: %l Atts: %a]%>-'
set status_format = '-%r-MCGILL.CA: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---'
