[Unit]
Description=Update sbuild unshare chroot tarballs
ConditionACPower=true
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/lib/sbuild/update-chroots.sh
LimitNOFILE=131072
IOSchedulingClass=idle
Nice=19
