[Unit]
Description=Randomize Wayland background

[Service]
Type=exec
Restart=always
RuntimeMaxSec=1h
ExecStart=swaybg-random

[Install]
WantedBy=wayland-session.target
