[Unit]
Description=Randomize Wayland background

[Service]
Type=exec
Restart=always
RuntimeMaxSec=1h
ExecStart=/home/rak/bin/swaybg-random

[Install]
WantedBy=wayland-session.target
