Source: rak-meta
Section: misc
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Maintainer: Ryan Kavanagh <rak@debian.org>

Package: rak-home
Recommends:
 rak-common,
 rak-games,
 rak-radio,
Architecture: all
Breaks:
 rak-meta (<< 0.4),
Replaces:
 rak-meta (<< 0.4),
Description: rak - all of my meta packages

Package: rak-work
Recommends:
 rak-common,
Architecture: all
Breaks:
 rak-meta (<< 0.4),
Replaces:
 rak-meta (<< 0.4),
Description: rak - all of my meta packages

Package: rak-common
Recommends:
 rak-compilers,
 rak-debian,
 rak-desktop,
 rak-firmware,
 rak-fonts,
 rak-multimedia,
 rak-shell,
 rak-sway,
 rak-sysadmin,
 rak-textproc,
 rak-web,
Architecture: all
Description: rak - all of my meta packages

Package: rak-compilers
Recommends:
 mllex-polyml,
 mlton,
 mlyacc-polyml,
 ocaml,
 opam,
 polyml,
 rustc,
 smlnj,
 ${misc:Depends},
Description: rak - fonts
Architecture: all

Package: rak-debian
Depends:
 build-essential,
 debcargo,
 devscripts,
 dh-golang,
 dh-python,
 equivs,
 git-buildpackage,
 reportbug,
 sbuild-debian-developer-setup,
 signing-party,
 ${misc:Depends},
Recommends:
 rak-compilers,
Description: rak - Debian development
Architecture: all

Package: rak-desktop
Depends:
 digikam,
 flatpak,
 frescobaldi,
 gimp,
 inkscape,
 rak-sway,
 recoll,
 recollgui,
 ${misc:Depends},
Recommends:
 rak-web,
 signal-desktop,
 tango-icon-theme,
 task-laptop,
 telegram-desktop,
 tlp,
Description: rak - web browsing
Architecture: all

Package: rak-dicts
Depends:
 aspell-en,
 aspell-fr,
 dict,
 dict-gcide,
 dict-vera,
 dict-wn,
 dictd,
 myspell-fr,
 task-english | task-french,
 vera,
 wamerican,
 wbritish-huge,
 wfrench,
 ${misc:Depends},
Description: rak - dictionnaries
Architecture: all

Package: rak-firmware
Depends:
 firmware-amd-graphics,
 firmware-iwlwifi,
 firmware-misc-nonfree,
 firmware-realtek,
 firmware-sof-signed,
 intel-microcode,
 ${misc:Depends},
Description: rak - firmware
Architecture: all

Package: rak-fonts
Depends:
 ${misc:Depends},
Description: rak - fonts
Architecture: all

Package: rak-games
Depends:
 angband,
 bsdgames,
 ${misc:Depends},
Description: rak - games
Architecture: all

Package: rak-mail
Depends:
 lbdb,
 muttprint,
 neomutt,
 opensmtpd,
 opensmtpd-extras,
 s-nail,
 sieve-connect,
 urlscan,
 ${misc:Depends},
Recommends:
 dovecot-imapd,
 dovecot-sieve,
Description: rak - email
Architecture: all

Package: rak-multimedia
Depends:
 alsa-utils,
 audacity,
 beets,
 bluez-tools,
 ffmpeg,
 helvum | qpwgraph,
 isrcsubmit,
 mpv,
 ncmpcpp,
 pavucontrol,
 pipewire-audio,
 whipper,
 yt-dlp,
 ${misc:Depends},
Description: rak - multimedia
Architecture: all

Package: rak-radio
Depends:
 fldigi,
 flrig,
 js8call,
 klog,
 qsstv,
 trustedqsl,
 wsjtx,
 ${misc:Depends},
Description: rak - hamradio
Architecture: all

Package: rak-shell
Depends:
 antiword,
 bash-completion,
 bind9-dnsutils,
 catgirl,
 colordiff,
 curl,
 dc,
 dwdiff,
 ed,
 file,
 finger,
 git,
 git-autofixup,
 gnupg,
 groff-base,
 imagemagick,
 info,
 keychain,
 ksh,
 ldnsutils,
 less,
 manpages,
 ncal,
 ncat,
 openssh-client,
 rlwrap,
 tmux,
 util-linux-extra,
 vim,
 wdiff,
 wget,
 whois,
 zsh,
 ${misc:Depends},
Recommends:
 rak-compilers,
Description: rak - shell utilities
 bind9-dnsutils: dig
 ldnsutils: drill
Architecture: all

Package: rak-sway
Depends:
 cliphist,
 gammastep,
 greetd,
 grim,
 jq,
 kanshi,
 light,
 seatd,
 slurp,
 sway,
 swayidle,
 swaylock,
 waybar,
 wdisplays,
 wlgreet,
 wofi,
 xdg-desktop-portal-wlr,
 xwayland,
 ${misc:Depends},
Description: rak - sway
 slurp: select screen region, pipe to grim for screenshot of region
Architecture: all

Package: rak-sysadmin
Depends:
 apt-listchanges,
 at,
 borgbackup,
 borgmatic,
 btop,
 console-setup,
 dlocate,
 dselect,
 eject,
 etckeeper,
 htop,
 iputils-ping,
 jmtpfs,
 lsof,
 mtr,
 netcat-traditional,
 nmap,
 openiked,
 plocate,
 pmount,
 rfkill,
 sanoid,
 sleepd,
 smartmontools,
 sshfs,
 sudo,
 systemd-resolved,
 systemd-timesyncd,
 task-ssh-server,
 tmpreaper,
 traceroute,
 ${misc:Depends},
Description: rak - system administration packages
Architecture: all

Package: rak-textproc
Depends:
 asciidoctor,
 biber,
 bibtool,
 docx2txt,
 dspdfviewer,
 elpa-pdf-tools,
 emacs-el,
 emacs-lucid,
 evince,
 groff-base,
 gv,
 hugo,
 mupdf,
 mupdf-tools,
 pdftk,
 texlive,
 texlive-bibtex-extra,
 texlive-extra-utils,
 texlive-fonts-extra,
 texlive-fonts-extra-doc,
 texlive-lang-french,
 texlive-latex-base-doc,
 texlive-latex-extra,
 texlive-latex-extra-doc,
 texlive-latex-recommended-doc,
 texlive-publishers,
 texlive-science,
 texlive-science-doc,
 texlive-xetex,
 tikzit,
 ttf-mscorefonts-installer,
 ${misc:Depends},
Recommends:
 rak-dicts,
Description: rak - text processing
Architecture: all

Package: rak-web
Depends:
 chromium,
 firefox,
 lynx,
 vf1,
 w3m-img,
 ${misc:Depends},
Description: rak - web browsing
Architecture: all
