.*.swo
.*.swp
build
SUBSTS.local
SUBSTS.merged
.mutt/alias.rc
.mutt/alias-cmu.rc
.mutt/savehooks.rc
.ssh/id_rsa
.ssh/id_ecdsa
.ssh/id_rsa.lambda
emacsen/make-*
.irssi/_windowlist
.irssi/certs/*
.irssi/away.log
.irssi/config.autosave
bin/msmtp
.config/wpa_supplicant.conf
