[submodule "emacsen/auto-complete"]
	path = emacsen/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "emacsen/auto-indent-mode"]
	path = emacsen/auto-indent-mode
	url = https://github.com/mlf176f2/auto-indent-mode.el/
[submodule "emacsen/magit"]
	path = emacsen/magit
	url = git@github.com:magit/magit.git
[submodule "emacsen/proofgeneral"]
	path = emacsen/proofgeneral
	url = git@github.com:emacsmirror/proofgeneral.git
[submodule "emacsen/popup"]
	path = emacsen/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "emacsen/markdown-mode"]
	path = emacsen/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
