[user]
	name = Ryan Kavanagh
	email = rak@debian.org
[color]
	ui = auto
[sendemail]
	smtpserver = MSMTP_PATH
[alias]
	wdiff = diff --color-words
        pusha = push origin :
[color]
	ui = auto
[push]
	default = simple
[url "git://anonscm.debian.org"]
        insteadOf = "git://git.debian.org"
[url "ssh://git.debian.org"]
        pushInsteadOf = "git://git.debian.org"
