[submodule "emacsen/dictem"]
	path = emacsen/dictem
	url = https://github.com/cheusov/dictem.git
[submodule ".fonts/Inconsolata-Hellenic"]
	path = .fonts/Inconsolata-Hellenic
	url = git://github.com/cosmix/Inconsolata-Hellenic.git
