XTerm*metaSendsEscape: true
XTerm*eightBitInput: false
URxvt.background: #000000
URxvt.foreground: #ffffff
URxvt.colorBD: #ffffff
URxvt.cursorColo: #e0e080
URxvt.hilightColor: #f0f0f0
URxvt.scrollBar: false
URxvt.scrollstyle: xterm
URxvt.transparent: true
URxvt.tint: black
URxvt.shading: 15
URxvt*color4: #0055FF
URxvt*color12: #0088FF
URxvt.underlineColor: yellow
URxvt.saveLines: 8192
URxvt.mapAlert: true
URxvt.font: xft:Inconsolata:size=7,xft:Input Mono Medium:size=7,xft:DejaVu Sans Mono:size=7,xft:Liberation Mono:size=7,xft:symbola:size=10:minspace=False
URxvt.perl-lib: /home/ryan/.urxvt
URxvt.perl-ext-common: default,matcher,font-size,-searchable-scrollback
URxvt.url-launcher: firefox
URxvt.matcher.button: 1
URxvt.visualBell: false
URxvt.urgentOnBell: true
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
URxvt.keysym.M-Y: perl:mark-and-yank:activate_mark_mode
URxvt.keysym.M-U: perl:mark-and-yank:activate_mark_url_mode
XLock*logoutButton:     -1
Xft.antialias:  1
Xft.dpi:        97
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.rgba:       bgr
Xpdf*fileFilterStyle:   filter_hidden_files
xautolock.locker: xscreensaver-command -lock
xterm*faceName: spleen:pixelsize=12:antialias=false
xscreensaver.cycle: 0:10:00
xscreensaver.dpmsEnabled: True
xscreensaver.dpmsQuickOff: True
xscreensaver.fade: False
xscreensaver.lock: True
xscreensaver.lockTimeout: 0:00:00
xscreensaver.mode: blank
xscreensaver.passwdTimeout: 0:00:30
xscreensaver.selected: -1
xscreensaver.timeout: 0:02:00
xscreensaver.timestamp: True
xscreensaver.unfade: False
