URxvt.background: #000000
URxvt.foreground: #ffffff
URxvt.colorBD: #ffffff
URxvt.hilightColor: #f0f0f0
URxvt.scrollBar: false
URxvt.scrollstyle: xterm
URxvt.transparent: true
URxvt.tint: black
URxvt.shading: 15
URxvt*color4: #0055FF
URxvt*color12: #0088FF
URxvt.underlineColor: yellow
URxvt.saveLines: 8192
URxvt.mapAlert: true
URxvt.font: {{ if (eq .chezmoi.os "openbsd") }}xft:spleen:size=10{{ else }}xft:Spleen 16x32:antialias=false{{ end }},xft:Inconsolata:size=10,xft:Input Mono Medium:size=10,xft:DejaVu Sans Mono:size=10,xft:Liberation Mono:size=10,xft:symbola:size=10:minspace=False
URxvt.perl-ext-common: default,matcher,font-size,-searchable-scrollback
URxvt.pointerBlank: true
URxvt.url-launcher: firefox
URxvt.matcher.button: 1
URxvt.visualBell: false
URxvt.urgentOnBell: true
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
URxvt.keysym.M-Y: perl:mark-and-yank:activate_mark_mode
URxvt.keysym.M-U: perl:mark-and-yank:activate_mark_url_mode

XConsole*background:	black
XConsole*foreground:	white
XConsole*borderWidth:	2
XConsole*borderColor:   grey
XConsole.text.geometry:	480x130
XConsole.verbose:	true
XConsole*iconic:	true
XConsole*font:		fixed

Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintfull
Xft.rgba:       rgb

XIdle.delay: 2
XIdle.position: se
XIdle.program: /usr/X11R6/bin/xlock
XIdle.timeout: 60

XLock.dpmsoff: 300
XLock.dpmsstandby: 180
XLock.dpmssuspend: 240
! Note that the total delay before autolocking will be XIdle.timeout
! plus XLock.lockdelay, seeing that xlock is typically started by xidle
XLock.lockdelay: 120
XLock.logoutButton: -1
XLock.mode: random
XLock.program: /usr/games/fortune -s
Xlock.random.modelist: all,-image

Xpdf*fileFilterStyle:   filter_hidden_files

XTerm*allowMouseOps: true
XTerm*metaSendsEscape: true
XTerm.VT100.translations: #override \
    Ctrl <Key> Down: smaller-vt-font() \n\
    Ctrl <Key> Up: larger-vt-font()
XTerm.eightBitInput: false
XTerm.termName: xterm-256color
! Do not let xterm pick dumb fonts for Unreadable, Tiny and Small
XTerm*faceName: Spleen:size=8:antialias=false
XTerm*faceSize: 8
XTerm*faceSize1: 8
XTerm*faceSize2: 12
XTerm*faceSize3: 16
XTerm*faceSize4: 24
XTerm*faceSize5: 32
XTerm*faceSize6: 64
XTerm.VT100.font: -misc-spleen-medium-r-normal--12-120-72-72-c-60-iso10646-1
XTerm.VT100.font1: -misc-spleen-medium-r-normal--8-80-72-72-c-50-iso10646-1
XTerm.VT100.font2: -misc-spleen-medium-r-normal--12-120-72-72-c-60-iso10646-1
XTerm.VT100.font3: -misc-spleen-medium-r-normal--16-160-72-72-c-80-iso10646-1
XTerm.VT100.font4: -misc-spleen-medium-r-normal--24-240-72-72-c-120-iso10646-1
XTerm.VT100.font5: -misc-spleen-medium-r-normal--32-320-72-72-c-160-iso10646-1
XTerm.VT100.font6: -misc-spleen-medium-r-normal--64-640-72-72-c-320-iso10646-1
XTerm*scrollBar: false
XTerm*background: rgb:00/00/00
XTerm*foreground: rgb:ff/ff/ff

! vim: set ft=xdefaults:
