[user]
	name = Ryan Kavanagh
	email = rak@rak.ac
[color]
	ui = auto
[sendemail]
	smtpserver = /usr/sbin/sendmail
[alias]
	wdiff = diff --color-words
	pusha = push origin :
	lg = !"git lg1"
	lg1 = !"git lg1-specific --all"
	lg2 = !"git lg2-specific --all"
	lg3 = !"git lg3-specific --all"
	lsd = !"git lg3-specific --all --simplify-by-decoration"

	lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
	lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

        rl = reflog --format='%C(auto)%h %<|(20)%gd %C(blue)%cr%C(reset) %gs (%s)'

	subrepo = !~/.local/lib/git-core/git-subrepo
	addnw=!sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
[push]
	default = simple
[url "git://anonscm.debian.org"]
	insteadOf = "git://git.debian.org"
[url "ssh://git.debian.org"]
	pushInsteadOf = "git://git.debian.org"
[rerere]
	enabled = true
[url "git@salsa.debian.org:"]
	pushInsteadOf = https://salsa.debian.org/
	insteadOf = https://salsa.debian.org/
[core]
	quotePath = false
[includeIf "gitdir:/media/t/work/packaging/"]
	path = ~/.gitconfig-debian
[diff]
	mnemonicPrefix = true
	algorithm = histogram
[diff "gpg"]
	textconv = gpg --no-tty --decrypt
[help]
	autocorrect = prompt
[init]
	defaultBranch = master
{{ if (eq .chezmoi.os "openbsd") -}}
[safe]
	directory = /usr/src
{{- end }}
