#!/bin/sh

# Make sure that everything started by our window manager
# happens from ${HOME}
cd ${HOME}

# Load our resources
if test -f ~/.Xresources; then
    # -I specifies the path to look for
    # #include references.
    xrdb -merge -I$HOME ~/.Xresources
fi

# Set our background to black
xsetroot -solid black

# xset dpms standby suspend off
xset dpms 180 210 240

case `uname` in
    Darwin)
        # Don't forget to create a symlink from
        # ~/.xinitrc.d/xinitrc.sh -> ~/.xinitrc
        for f in $XDG_CONFIG_HOME/sh/*; do . $f; done
        urxvtd -q -f -o &
        exec cwm
        ;;

    OpenBSD)
        for f in $XDG_CONFIG_HOME/sh/*; do . $f; done
        [ -d /usr/local/share/fonts/spleen ] && xset +fp /usr/local/share/fonts/spleen/
        redshift &
        ${HOME}/bin/icd
        # Only needed if you have Kinesis in Windows mode
        # xmodmap -e 'remove mod4 = Alt_R'
        xidle &
        exec xmonad
	;;

    Linux)
        ${HOME}/bin/icd
        ${HOME}/bin/mice.sh

        redshift &
        ${HOME}/.screenlayout/{{ .chezmoi.hostname }}-home.sh
        trayer --tint black --edge top --SetDockType true --SetPartialStrut true \
          --expand true --width 10 --transparent true --height 12 --align right &
        ${HOME}/.dzen/battery.sh &

        sh ${HOME}/bin/startaudio &
        pavucontrol &

        urxvtd -q -f -o &
        urxvtc &

        exec xmonad
        ;;
esac
