#!/bin/sh


case `uname` in
    Darwin)
        cd ${HOME}
        xrdb -merge ~/.Xresources
        exec icewm-session
        ;;
    OpenBSD)
        export LANG="en_CA.UTF-8"
        export LC_time="en_GB.UTF-8"
        export LC_COLLATE=C
        if test -f ~/.Xresources; then
            xrdb -merge ~/.Xresources
        fi
        redshift &
        ${HOME}/bin/icd
        urxvtd -q -f -o &
        xset dpms 180 300 600
        exec cwm
	;;
    *)
        if test -f ~/.Xresources; then
            xrdb -merge -I$HOME ~/.Xresources
        fi
        redshift &
        ${HOME}/bin/icd
        # xcompmgr &
        trayer --tint black --edge top --SetDockType true --SetPartialStrut true \
          --expand true --width 10 --transparent true --height 12 --align right &
        ${HOME}/.dzen/battery.sh &
        pavucontrol &
        urxvtd -q -f -o &
        urxvtc &
        ${HOME}/.screenlayout/{{ .chezmoi.hostname }}-home.sh
        if [ "false" = "True" ]; then
            sh bin/startaudio &
        fi
        ${HOME}/bin/mice.sh
        xset dpms 180 300 600

        exec /usr/bin/xmonad
        ;;
esac
