machine imap.gmail.com login rkavanag@alumni.cmu.edu password {{ .password.cmu }}
machine imap.gmail.com login ryanakca@gmail.com password {{ .password.gmail }}
machine imap.rak.ac login rak password {{ .password.rakac }}
machine localhost login ryan password {{ .password.local }}
machine pod51018.outlook.com login 9rak@queensu.ca password {{ .password.queensu }}
machine mail.cs.mcgill.ca login ryank password {{ .password.socs }}
