{{- if .password.cmu }}
machine imap.gmail.com login rkavanag@alumni.cmu.edu password {{ .password.cmu }}
{{- endif }}
{{- if .password.gmail }}
machine imap.gmail.com login ryanakca@gmail.com password {{ .password.gmail }}
{{- endif }}
{{- if .password.rakac }}
machine imap.rak.ac login rak password {{ .password.rakac }}
{{- endif }}
{{- if .password.socs }}
machine mail.cs.mcgill.ca login ryank password {{ .password.socs }}
{{- endif }}
