# vim: syntax=neomuttrc

set imap_authenticators = 'xoauth2'
set imap_oauth_refresh_command = "~/bin/mutt_oauth2.py --encryption-pipe='cat' --decryption-pipe='cat' `pwd`/xoauth2-token"
set imap_passive = 'no'
set imap_user = 'ryan.kavanagh@mail.mcgill.ca'

unset imap_pass
