cert-authority ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOgOV5atVQfbpFQ2R1wkUPy2yoCxzloVMTwUU6j7R4v3 rak
{{ if eq .chezmoi.fqdnHostname  "beastie.sdf.org" -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII9QEmJagqiGPOFkQTXPcgaOcaCU5OpLMFy2q/YlZ2WJ JuiceSSH
{{- end }}
