# vim: syntax=muttrc

cd ~/.mutt/accounts/kavanagh.ryan.uqam.ca

set folder = 'imaps://kavanagh.ryan@uqam.ca@outlook.office365.com'

source folders.rc
source read.rc
source send.rc
source format.rc

cd
