# vim: syntax=neomuttrc

set imap_authenticators = 'xoauth2'
set imap_oauth_refresh_command = "mutt_oauth2.py --encryption-pipe='cat' --decryption-pipe='cat' \"$XDG_STATE_HOME/xoauth2-tokens/9rak.queensu.ca\""
set imap_passive = 'no'
set imap_user = '9rak@queensu.ca'

unset imap_pass
