# vim: syntax=neomuttrc

set imap_authenticators = 'xoauth2'
set imap_oauth_refresh_command = '~/bin/mutt_oauth2.py --client-id="08162f7c-0fd2-4200-a84a-f25a4db0b584" --client-secret="TxRBilcHdC6WGBee]fs?QR:SJ8nI[g82" --encryption-pipe="cat" --decryption-pipe="cat" $XDG_CONFIG_HOME/neomutt/accounts/9rak.queensu.ca/xoauth2-token'
set imap_passive = 'no'
set imap_user = '9rak@queensu.ca'

unset imap_pass
