# vim: syntax=muttrc

set copy = yes
set from = 'Ryan Kavanagh <ryan.kavanagh@queensu.ca>'
set smtp_authenticators = 'xoauth2'
set smtp_oauth_refresh_command = "mutt_oauth2.py --encryption-pipe='cat' --decryption-pipe='cat' \"$XDG_STATE_HOME/xoauth2-tokens/9rak.queensu.ca\""
set smtp_url = 'smtp://9rak@queensu.ca@smtp.office365.com:587/'

unset sendmail
unset smtp_pass
