# vim: syntax=muttrc

cd $XDG_CONFIG_HOME/neomutt/accounts/rkavanag.alumni.cmu.edu

set folder = 'imaps://rkavanag@alumni.cmu.edu@imap.gmail.com'

source folders.rc
source read.rc
source send.rc
source format.rc

cd
