[Desktop Entry]
Type=Application
Name=Spotify CLI
GenericName=Music Player
Icon=spotify-client
TryExec=sp
Exec=sp open %U
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
