subscribe -group ml.cmu .*@lists.andrew.cmu.edu (cs-phd-students|pop-group|concertrg)@cs.cmu.edu
subscribe -group ml.debian .*@.*lists.debian.org
subscribe -group ml.openbsd (bugs|misc)@opensmtpd.org
subscribe -group ml.opensmtpd misc@opensmtpd.org
subscribe -group ml.ubuntu .*@.*lists.ubuntu.com
subscribe -group ml.mcgill (complogic)@cs.mcgill.ca
