# vim: syntax=muttrc

set imap_user = 'ryank'
set imap_pass = '{{ .password.socs }}'
set imap_delim_chars = '.'

set folder = 'imaps://mail.cs.mcgill.ca/'
set record = '+INBOX.Sent'
set copy = 'yes'
set postponed = '+INBOX.Drafts'
set spoolfile = '+'
set mbox = '+INBOX.Read'

unset smtp_url
unset smtp_pass
set sendmail = 'sendmail -oem -oi'
set from = 'Ryan Kavanagh <rkavanagh@cs.mcgill.ca>'

set pager_format = '-%Z-CS.MCGILL.CA: %C/%m: %-20.20n   %s%*  -- (%P)'
set compose_format = '-- CS.MCGILL.CA: Compose [Approx. msg size: %l Atts: %a]%>-'
set status_format = '-%r-CS.MCGILL.CA: %f [Msgs:%?M?%M/?%m%?n? New:%n?%?o? Old:%o?%?d? Del:%d?%?F? Flag:%F?%?t? Tag:%t?%?p? Post:%p?%?b? Inc:%b?%?l? %l?]---(%s/%S)-%>-(%P)---
