IMAPAccount UQAM
Host outlook.office365.com
User kavanagh.ryan@uqam.ca
PassCmd "mutt_oauth2.py --encryption-pipe='cat' --decryption-pipe='cat' $XDG_STATE_HOME/xoauth2-tokens/kavanagh.ryan.uqam.ca"
AuthMechs XOAUTH2
TLSType IMAPS

IMAPAccount queensu
Host outlook.office365.com
User 9rak@queensu.ca
PassCmd "~/bin/mutt_oauth2.py --client-id="08162f7c-0fd2-4200-a84a-f25a4db0b584" --client-secret="TxRBilcHdC6WGBee]fs?QR:SJ8nI[g82" --encryption-pipe="cat" --decryption-pipe="cat" $XDG_STATE_HOME/xoauth2-tokens/9rak.queensu.ca"
AuthMechs XOAUTH2
TLSType IMAPS

IMAPAccount mcgill
Host outlook.office365.com
User ryan.kavanagh@mail.mcgill.ca
PassCmd "~/bin/mutt_oauth2.py --client-id="08162f7c-0fd2-4200-a84a-f25a4db0b584" --client-secret="TxRBilcHdC6WGBee]fs?QR:SJ8nI[g82" --encryption-pipe="cat" --decryption-pipe="cat" $XDG_STATE_HOME/xoauth2-tokens/ryan.kavanagh.mail.mcgill.ca"
AuthMechs XOAUTH2
TLSType IMAPS

IMAPAccount CMU
Host imap.gmail.com
User rkavanag@alumni.cmu.edu
Pass {{ .password.cmu }}
AuthMechs PLAIN
TLSType IMAPS

IMAPAccount gmail
Host imap.gmail.com
User ryanakca@gmail.com
Pass {{ .password.gmail }}
AuthMechs PLAIN
TLSType IMAPS

IMAPAccount ryan.a.kavanagh.gmail.com
Host imap.gmail.com
User ryan.a.kavanagh@gmail.com
PassCmd "~/bin/mutt_oauth2.py --encryption-pipe=cat --decryption-pipe=cat $XDG_STATE_HOME/xoauth2-tokens/ryan.a.kavanagh.gmail.com"
AuthMechs XOAUTH2
TLSType IMAPS

IMAPAccount rak
Host hades.rak.ac
User rak
Pass {{ .password.rakac }}
AuthMechs PLAIN
TLSType IMAPS

IMAPStore uqam-remote
Account UQAM

IMAPStore queensu-remote
Account queensu

IMAPStore mcgill-remote
Account mcgill

IMAPStore cmu-remote
Account CMU

IMAPStore rak-remote
Account rak

IMAPStore gmail-remote
Account gmail

IMAPStore ryan.a.kavanagh.gmail.com
Account ryan.a.kavanagh.gmail.com

MaildirStore uqam-maildir
Subfolders Verbatim
Path ~/Maildir/UQAM/
Inbox ~/Maildir/UQAM/INBOX

MaildirStore cmu-maildir
Subfolders Verbatim
Path ~/Maildir/CMU/
Inbox ~/Maildir/CMU/INBOX

MaildirStore rak-maildir
Subfolders Verbatim
Path ~/Maildir/rak/
Inbox ~/Maildir/rak/INBOX

MaildirStore queensu-maildir
Subfolders Verbatim
Path ~/Maildir/queensu/
Inbox ~/Maildir/queensu/INBOX

MaildirStore mcgill-maildir
Subfolders Verbatim
Path ~/Maildir/mcgill/
Inbox ~/Maildir/mcgill/INBOX

MaildirStore gmail-maildir
Subfolders Verbatim
Path ~/Maildir/gmail/
Inbox ~/Maildir/gmail/INBOX

MaildirStore archive
Subfolders Verbatim
Path ~/Maildir/Archive/
Inbox ~/Maildir/Archive/INBOX

Channel uqam-inbox
Far :uqam-remote:
Near :uqam-maildir:
Create Both
Patterns INBOX
Expunge Both
Sync All

Channel uqam-others
Far :uqam-remote:
Near :uqam-maildir:
Create Both
Patterns * !Calendar !Calendar/* !Contacts !"Conversation History" !"Deleted Items" !"Flux RSS" !Journal !Notes !Outbox !Probl*
Expunge Near
Sync All

Channel queensu
Far :queensu-remote:
Near :queensu-maildir:
Create Both
Patterns * !Calendar !Calendar/* !Contacts !"Conversation History" !"Deleted Items" !"Flux RSS" !Journal !Notes !Outbox
Expunge Both
Remove Both
Sync All

Channel mcgill
Far :mcgill-remote:
Near :mcgill-maildir:
Create Near
Patterns * !Calendar !Calendar/* !Contacts !"Conversation History" !"Deleted Items" !"Flux RSS" !Journal !Notes !Outbox
Expunge Near
Sync Pull

Channel cmu
Far :cmu-remote:
Near :cmu-maildir:
Create Both
Expunge Near
Patterns * !"[Gmail]/All Mail" !"[Gmail]/Important" !"[Gmail]/Starred" !"[Gmail]/Bin"
Sync All

Channel rak-inbox
Far :rak-remote:
Near :rak-maildir:
Create Both
Expunge Near
Patterns INBOX
Sync All

Channel rak-lists
Far :rak-remote:
Near :rak-maildir:
Create Both
Expunge Near
Patterns Lists/*
Sync All

Channel rak-misc
Far :rak-remote:
Near :rak-maildir:
Create Both
Remove Both
Expunge Near
Patterns * !Archive !Virtual !Virtual/* !INBOX !Lists !Lists/*
Sync All

Channel rak-archive
Far :rak-remote:
Near :rak-maildir:
Create Both
Expunge Near
Patterns Archive
Sync All

Group rak
Channel rak-inbox
Channel rak-lists
Channel rak-misc

Channel gmail-inbox
Far :gmail-remote:
Near :gmail-maildir:
Create Near
Expunge Near
Pattern INBOX
Sync Pull

Channel gmail-base
Far :gmail-remote:
Near :gmail-maildir:
Create Near
Expunge Near
Pattern INBOX "[Google Mail]/Sent Mail" "[Google Mail]/Drafts"  "[Google Mail]/Bin"
Sync Pull

Channel gmail-others
Far :gmail-remote:
Near :gmail-maildir:
Create Near
Remove Both
Expunge Near
Pattern * !INBOX !"[Google Mail]/Sent Mail" !"[Google Mail]/Drafts"  !"[Google Mail]/Bin" !"[Google Mail]/All Mail"
Sync Pull

Channel archive-to-gmail
Far :ryan.a.kavanagh.gmail.com:
Near :archive:
Create Both
Remove Both
Expunge Both
Pattern * !"[Gmail]/All Mail" !"[Gmail]/Important" !"[Gmail]/Spam" !"[Gmail]/Starred" !"[Gmail]/Trash"
Sync All

Group inboxes
Channel gmail-inbox
Channel rak-inbox
Channel uqam-inbox
